@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

body {
    background-color: #0E318B;
}

.titulo {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    color: white;
    padding-left: 50px;
    padding-top: 30px;
}

.central {
    width: 30vw;
    height: 40vh;
    background-color: #799FFF;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    font-family: "Krona One", sans-serif;
    font-size: 20px;
    font-style: normal;
    color: white;
    margin-left: 25px;
    margin-top: 40px;
}

input {
    margin-top: -10px;
    margin-left: 25px;
    width: 90%;
    height: 30px;
    background-color: #799FFF;
    border-color: black;
    border-radius: 3px;
}

.criar-conta {
    text-align: end;
    margin-top: 20px;
    margin-right: 25px;
}

.criar-conta h2 {
    font-family: "Krona One", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 100;
    color: white;
}

